@model ACNHWorldMVC.Models.ViewModels.MessageDetailViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@Model.Message.Id">Add Comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.FirstOrDefault().User.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == item.UserId.ToString())
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id });

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
