@model IEnumerable<ACNHWorldMVC.Models.Message>
@using ACNHWorldMVC.Controllers;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Message</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
            @if (item.UserId == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <span>|</span>
            }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
