@model IEnumerable<ACNHWorldMVC.Models.UserVillager>

@{
    ViewData["Title"] = "MyVillagers";
}

<h1>My Villagers</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Villager.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Villager.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Villager.Name)
            </td>
            <th>
                <img src="@item.Villager.ImageUrl" alt="villager" />
            </th>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
